@import "./theme.css";
@import "primeicons/primeicons.css";

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    font-family: 'Poppins', sans-serif;
}

@layer tailwind-base, primereact, tailwind-utilities;

@layer tailwind-base {
    @tailwind base;
}

@layer tailwind-utilities {
    @tailwind components;
    @tailwind utilities;
}

.p-highlight {
    color: #0B3C49;
    background: #38C6BD;
}

.p-button {
    background: #38C6BD;
    border-radius: 20px
}

.p-text-primary {
    color: #0B3C49;
}

.role-selected {
    border: 5px solid #0B3C49;
}

.p-button:focus {
    box-shadow: 0 0 0 2px #ffffff, 0 0 0 4px #0B3C49, 0 1px 2px 0 black;
}

.p-button-help {
    color: #731963;
    background: none;
}
.p-button-help:focus {
    box-shadow: none;
}

.sorter {
    flex-shrink: 0;
    border-radius: 10px;
    background: rgba(115, 25, 99, 0.10);
    color: #731963;
}

.add-goal {
    border-radius: 10px;
    border: 2.5px dashed #731963;
    color: #731963;
    background: none;
}

.add-goal:focus {
    box-shadow: 0 0 0 2px #ffffff, 0 0 0 4px #731963, 0 1px 2px 0 black;
}

.bg-none {
    background: none
}

.goal {
    border-radius: 10px;
    background-color: #0B3C49;
    color: white;
}

.login {
    background-color: #0B3C49;
    color: white;
}

.register {
    color: #0B3C49;
    border: 1px solid #0B3C49;
}

.text-primary {
    color: #0B3C49;
}